<div class="block col-md-4 sparkfun-block" data-block-id="<%= block['id'] %>" data-block-refresh="<%= 1.minute.in_milliseconds %>">
  <h3><%= block['title'] %></h3>
  <div class="value" data-source="<%= block['url'] %>">
  </div>
</div>
