<div class="content-block timeseries-block">
  <div class="col-md-9">
    <%= image_tag "http://sulstats-raw.stanford.edu/render/?width=586&height=308&#{block["metrics"].split("\n").map { |x| "target=#{x}" }.join("&")}" %>
  </div>
  <div class="col-md-3">
    <div class="value"><%= block["metrics"] %></div>
  </div>
</div>
