<div class="dashboard-header row text-right">
  <%= link_to 'Edit', edit_dashboard_path(@dashboard), class: 'btn btn-primary' %>
</div>

<div class="dashboard-content autopacked-container">
  <%= render_sir_trevor(@dashboard.content) %>
  <div class="grid-sizer col-md-2"></div>
  <div class="gutter-sizer"></div>
</div>
