/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require sir-trevor
 */
 
@import "bootswatch/cyborg/variables";
@import "bootstrap-sprockets";
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 75px; }

@import "bootswatch/cyborg/bootswatch";

.github-event, .feed-entry {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.st-title {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: $panel-info-heading-bg;
  padding: 3px 8px;
  color: $panel-info-text;
  font-weight: bold;
}

.st-block__inner:hover {
  .st-title {
    display: block;
  }
}

.travis-block-red .alert {
  @extend .alert-danger;
}

.travis-block-yellow .alert {
  @extend .alert-warning;
}

.travis-block-green .alert {
  @extend .alert-success;
}

.travis-block h4 small {
  display: block;
}

.gemnasium-block-red .btn {
  @extend .btn-danger;
}

.gemnasium-block-yellow .btn {
  @extend .btn-warning;
}

.gemnasium-block-green .btn {
  @extend .btn-success;
}

.gutter-sizer {
  width: $grid-gutter-width;
  height: $grid-gutter-width;
}

.calendar-date {
  margin-top: $line-height-computed;
  width: $line-height-computed * 5;
  height: $line-height-computed * 5;
  position: relative;
  padding-top: $line-height-computed * 2.5;
  background-color: #f7f7f7;
  text-align: center;
  display: block;
}

.calendar-date .month {
  background-color: $alert-danger-bg;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $line-height-computed * 1.5;
  line-height: $line-height-computed * 1.5;
  font-weight: bold;
}

.calendar-date .date {
  color: black;
  font-weight: bold;
  font-size: $font-size-h3;
  text-align: center;
  width: 100%;
  line-height: $line-height-computed;
}

.section-header {
  @extend .page-header;
  padding-top: 0;
  margin-top: 0;
}

.st-title {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: $panel-info-heading-bg;
  padding: 3px 8px;
  color: $panel-info-text;
  font-weight: bold;
}

.st-block__inner:hover {
  .st-title {
    display: block;
  }
}

.travis-block-red .alert {
  @extend .alert-danger;
}

.travis-block-yellow .alert {
  @extend .alert-warning;
}

.travis-block-green .alert {
  @extend .alert-success;
}

.travis-block h4 small {
  display: block;
}

.gutter-sizer {
  width: $grid-gutter-width;
  height: $grid-gutter-width;
}

.preview-btn, .preview-exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
}
